* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    height: 15vh;
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 45%;
    justify-content: space-between;
}

.burgermenu img {
    height: 27px;
}

.burgermenu {
    display: none;
}

.icons {
    display: none;
}

.left a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    padding-right: 50px;
    text-decoration: none;
}

.middle {
    width: 10%;
}

.middle2 h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #2F3035;
}

.middle2 {
    display: none;
}

.right {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.right span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
}

.right>div+div {
    margin-top: 10px;
}

.header {
    height: 8vh;
}

.header .container {
    background: #F0F0F4;
    height: 100%;
    display: flex;
}

.header a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #2F3035;
    text-decoration: none;

}

.leftH {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.rightH {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.shops {
    display: none;
}

main {
    height: 75vh;
}

main .container {
    margin-top: 81px;
    display: flex;
}

.leftM {
    width: 70%;
    background-image: url(./слайдер\ баннер.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.leftM .arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

.leftM .ellipse{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    gap: 15px;
}

.leftM2 {
    display: none;
}

.rightM {
    width: 25%;
    border: 1px solid #CDCDCD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.right1 .promotion1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.promotion1 button {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 95px;
    height: 42px;
    background: #1C62CD;
    border: none;
    margin-top: 0;
    margin-left: 0;

}

.promotion1 span {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #1C62CD;
    padding-right: 4px;
    padding-left: 54px;

}

.promotion1 img {
    height: 18px;
}

.gray {
    text-align: right;
    margin-right: 10px;
}

.gray span {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    text-decoration: line-through;

}

.gray img {
    height: 10px;
}

.motor p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;

}

.motor img {
    padding-left: 61px;
}

.promotion2 {
    height: 99px;
    background: #F0F0F4;
}

.promotion2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
    padding-top: 26px;

}

.promotion2 h2 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1C62CD;
}

/* section search start */
.search {
    height: 100vh;
    margin-top: 30px;
}

.search .container {
    margin-top: 77px;
    display: flex;
    flex-direction: column;

}

.lookfor {
    height: 20vh;

}

.looktop {
    height: 10vh;
    width: 100%;
    display: flex;
}

.looktop a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    text-decoration: none;
    padding-right: 30px;
}

.looktop #bold {
    font-weight: 700;
    background: #F0F0F4;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    text-align: center;
    margin-top: -5px;
    padding-top: 5px;
    padding-left: 6px;
}

.lookbottom {
    height: 10vh;
    width: 100%;
    display: flex;

}

.lookbottom2 {
    display: none;
}

input[type="text"] {
    width: 100%;
    background: #F0F0F4;
    border-radius: 3px;
    border: none;
    width: 935px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #656464;
    padding-left: 25px;
}

input[type="submit"] {
    width: 15%;
    background: #1C62CD;
    border: none;
    border-radius: 3px;
    width: 145px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.types {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 30px;
}

.type {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 320px;
    height: 129px;
    display: flex;
}

.type img {
    height: 90px;
}

.type>button a img {
    height: 9px;
}

.type button {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.type h2 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #2F3035;
    padding-left: 10px;
    padding-top: 10px;
}

.type>button a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    text-decoration: none;
    display: flex;
    align-self: center;
}

/* section popular start */
.popular {
    height: 100vh;
    margin-top: 90px;
}

.popular .container {
    display: flex;
    flex-direction: column;
}

.goods {
    height: 20%;
    width: 100%;
}

.goods h2 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;

}

.goods>div {
    margin-top: 25px;
    margin-bottom: 35px;
}

.goods>div a,
.buy>div a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #2F3035;
    text-decoration: none;
    padding-right: 50px;
}

.bags {
    height: 80%;
    display: flex;
}

.bags img {
    height: 185px;
}

.bag {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 250px;
    height: 360px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bag2,
.round {
    display: none;
}

.bag p,
.radio b {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
    /* padding-top: 15px; */
}

.bag h1 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #2F3035;
    padding-top: 45px;
    text-align: center;
}

.bag a,
.radio a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C62CD;
    text-align: center;
    padding-top: 32px;

}

#blue {
    color: #1C62CD;
    position: relative;
    top: -55px;
}

#look {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    opacity: 0.9;
    border-radius: 3px;
    width: 230px;
    height: 61px;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    position: relative;
    bottom: 110px;
}

.img2 img {
    height: 10px;
}

.heart img {
    height: 15px;
}

.heart {
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}

.sale {
    background: #1C62CD;
    width: 63px;
    height: 25px;
    text-align: center;
}

.sale a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-decoration: none;
}

.bag .hat,
.radio .hat {
    display: flex;
    justify-content: space-between;
}

#show,
#show2 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #2F3035;
    background: #F0F0F4;
    width: 252px;
    height: 50px;
    text-decoration: none;
    margin-top: 30px;
    padding-top: 13px;
}

/* section electronics start */
.electronics {
    height: 120vh;
    margin-top: 86px;
}

.electronics .container {
    display: flex;
    flex-direction: column;
}

.discounts {
    height: 25vh;
    background: #1C62CD;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.discounts2 {
    display: none;
}

.discounts div img {
    height: 100px;
}

.discounts div h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;

}

.discounts button {
    width: 270px;
    height: 50px;
    background: #FFFFFF;
    text-align: center;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    text-align: right;
    color: #2F3035;
}

.buy {
    margin-top: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buy h2 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
}

.buy div {
    margin-top: 19px;
    display: flex;
}

.buy>div>div {
    margin-top: 1px;
}

.elect {
    display: flex;
    flex-direction: column;
}

.border2 {
    width: 78px;
    height: 0px;
    border: 2px solid #1C62CD;
}

.egoods {
    height: 95vh;
    margin-top: 40px;
    display: flex;
}

.radio {
    display: none;
}

.round2 {
    display: none;
}

#show2 {
    display: none;
}

.radio p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
}

.bag b {
    padding-top: 20px;
}

/* footer start */
footer {
    height: 40vh;
    margin-top: 97px;
    background: #F0F0F4;
}

footer .container {
    display: flex;
}

.info_new,
.shop_new,
.border-line,
.under_footer {
    display: none;
}

.signup {
    width: 35%;
    margin-top: -25px;
}

.signup div {
    display: flex;
    margin-top: 34px;
}

.signup h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
}

.signup input[type="text"] {
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    border: none;
}

.signup input[type="submit"] {
    background: #1C62CD;
    width: 100px;
    height: 30px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.information {
    width: 30%;
    display: flex;
    margin-top: 43px;
    gap: 80px;
}

.info,
.shop {
    display: flex;
    flex-direction: column;
}

.info h3,
.info a,
.shop h3,
.shop a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    text-decoration: none;
}

.info h3,
.shop h3 {
    padding-bottom: 6px;
}

.info a,
.shop a {
    color: #48494D;
}

.shop>div,
.info>div {
    margin-top: 46px;
}

.shop>div a,
.info>div a {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
}

.network {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.network img {
    height: 30px;
}

@media (max-width:576px) {
    .top {
        height: 6vh;

    }

    .top .container {
        margin-top: 10px;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .left,
    .middle,
    .right {
        display: none;
    }

    .burgermenu {
        display: block;
    }

    .middle2 {
        display: block;
    }

    .middle2 h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
        color: #2F3035;
    }

    .icons {
        display: block;
    }

    .header {
        height: 6vh;

    }

    .header .container {
        background: #F0F0F4;
        height: 100%;
        display: flex;
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header a {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        color: #2F3035;
        text-decoration: none;
    }

    .leftH,
    .rightH {
        display: none;
    }

    .shops {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    main {
        height: fit-content;
    }
    main .container {
        width: 100%;
        margin: 0;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }

    .leftM {
        display: none;
    }

    .leftM2 {
        width: 100%;
        display: block;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .leftM2 .ellipse{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: -40px;
        margin-left: 20px;
    }
    .rightM {
        width: 90%;
        border: 1px solid #CDCDCD;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
    }

    .search {
        height: 100vh;
        margin-top: 30px;
    }

    .search .container {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .lookfor {
        height: 20vh;

    }

    .looktop #name {
        display: none;
    }

    .looktop {
        height: 6vh;
        display: flex;
        width: 100%;
        margin-top: 40px;
    }

    .looktop a {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
    }

    .looktop>div:first-child {
        border-bottom: 2px solid #1C62CD;
        height: 26px;
    }

    .looktop #bold {
        font-weight: 400;
        background: none;
        border: none;
        text-align: center;

    }

    .lookbottom {
        display: none;

    }

    .lookbottom2 {
        display: flex;
        height: 10vh;
        width: 100%;
    }

    input[type="text"] {
        width: 100%;
        background: #F0F0F4;
        border-radius: 3px;
        border: none;
        width: 340px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #656464;
        padding-left: 25px;
    }

    .lookbottom2 a {
        margin-left: -40px;
        margin-top: 10px;
    }

    .types {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .type {
        background: #FFFFFF;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        width: 370px;
        height: 129px;
        display: flex;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .type img {
        height: 90px;
        padding-right: -20px;
    }

    .type a img {
        height: 9px;
    }

    .type span {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: #2F3035;
        padding-left: 10px;
        padding-top: 10px;
    }

    .type a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
        text-decoration: none;
        display: flex;
        align-self: last baseline;
    }

    .popular {
        height: fit-content;
        margin-top: 100%;
    }

    .popular .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .goods {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .goods>div .not,
    .buy .not {
        display: none;
    }

    .goods h2 {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #2F3035;

    }

    .goods>div {
        margin-top: 25px;
        margin-bottom: 35px;
    }

    .goods>div a,
    .buy>div a {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #2F3035;
        text-decoration: none;
        padding-right: 50px;
    }

    .bags {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
    }

    .bags img {
        height: 200px;
    }

    .bag {
        display: none;
    }

    .bag2 {
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        width: 300px;
        height: 403px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bag2 p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #2F3035;
    }

    .bag2 h1 {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #2F3035;
        padding-top: 25px;
        text-align: center;
    }

    .bag2 .heart img {
        height: 15px;
    }

    .bag2 .heart {
        text-align: right;
        padding-top: 15px;
        padding-right: 15px;
    }

    .round img,
    .round2 img {
        height: 14px;
        padding-right: 20px;
    }

    .round,
    .round2 {
        display: flex;
        margin-top: 20px;
    }

    #show {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #2F3035;
        background: #F0F0F4;
        width: 252px;
        height: 50px;
        text-decoration: none;
        margin-top: 30px;
        padding-top: 13px;
    }

    .electronics {
        height: 120vh;
        margin-top: 86px;
    }

    .electronics .container {
        display: flex;
        flex-direction: column;
    }

    .discounts {
        display: none;
    }

    .discounts2 {
        height: 95px;
        background: #1C62CD;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .discounts2 .row {
        display: flex;
        justify-content: center;
    }

    .discounts2 div h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 5px;
    }

    .discounts2 .row button {
        width: 132.19px;
        height: 30px;
        background: #FFFFFF;
        text-align: center;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;
        color: #2F3035;
        margin-top: 7px;
        display: flex;
        align-items: center;
    }

    .buy {
        margin-top: 72px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buy h2 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #2F3035;
        text-align: center;
        width: 80%;
    }

    .buy>div {
        margin-top: 19px;
        display: flex;
        align-items: center;
    }

    .buy>div>div {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
    }

    .buy>div>a:first-child {
        font-weight: 700;
    }

    .buy .border {
        width: 65px;
        height: 0px;
        border: 2px solid #1C62CD;
        margin-top: 3px;
    }

    .buy>div .elect {
        display: none;
    }

    .egoods {
        height: fit-content;
        margin-top: 40px;
        display: flex;
    }

    .egoods .bag {
        display: none;
    }

    .radio {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        width: 300px;
        height: 403px;
        margin-left: 27px;

    }

    .bag b {
        padding-top: 20px;
    }

    .round2 {
        display: flex;
        margin-left: 15px;
    }

    #show2 {
        display: block;
        margin-left: 15px;
    }

    footer {
        height: 32vh;
        width: 100%;
        margin-top: -80px;
        background: #F0F0F4;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 ;
    }

    .signup {
        width: 80%;
        margin-top: 17px;
    }

    .signup div {
        display: flex;
        margin-top: 34px;
    }

    .signup h3 {
        text-align: center;
        font-size: 16px;
    }

    .signup input[type="text"] {
        width: 210px;
        height: 30px;
    }

    .signup input[type="submit"] {
        width: 120px;
        height: 30px;
    }

    .information,
    .network {
        display: none;
    }

    .info_new,
    .shop_new,
    .border-line {
        display: block;
        width: 100%;
    }

    .info_new,
    .shop_new {
        margin-left: 20px;
    }

    .info_new a,
    .shop_new a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.0861538px;
        color: #504f4f;
        text-decoration: none;
        text-align: left;
    }

    .info_new select,
    .shop_new select {
        border: none;
        background: none;
    }

    .info_new select {
        padding-right: 245px;
    }

    .shop_new select {
        padding-right: 210px;
    }

    .border-line {
        width: 99%;
        height: 0px;
        border: 2px solid rgb(228, 223, 223);
    }

    footer div>div:nth-child(3) {
        margin-top: 40px;
    }

    footer>div>div {
        margin-top: 16px;
    }

    .under_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30vh;
    }

    .network_new {
        margin-top: 40px;
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .network_new img {
        height: 30px;
    }

    .under_footer>div:nth-child(2) {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-left: -70px;
    }

    .under_footer>div a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #48494D;
        text-decoration: none;
        padding-top: 12px;
    }
}